body{
    background-color: rgb(29, 29, 29);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    color:white;
}

a{
    color: white;
    font-size: 150%;
    font-weight: 800;
}

ul, ol{
    display: table;
    margin: 0 auto;
}

